
<!DOCTYPE html>
<html>
<head>
<title>{{ title }} - ErtixNodes</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body style="padding:50px">
<iframe data-aa='2312977' src='//ad.a-ads.com/2312977?size=728x90' style='width:728px; height:90px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>
<h1>{{ title }} - ErtixNodes</h1>
{{ content | safe }}

<p><em>Join the <a href="https://discord.gg/fXPYyCSunN">discord server</a> now!</em></p>
<iframe data-aa='2312977' src='//ad.a-ads.com/2312977?size=728x90' style='width:728px; height:90px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>
</body>
</html>
