
<!DOCTYPE html>
<html>
<head>
<link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
<title>{{ title }} - ErtixNodes</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body style="padding:50px">
<iframe data-aa='2312977' src='//ad.a-ads.com/2312977?size=728x90' style='width:728px; height:90px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>
<h1><a href="/">ErtixNodes</a></h1>
<h3>Navigation</h3>
<ul>
{%- for post in collections.all | sort -%}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>

<h3>{{ title }}</h3>
{{ content | safe }}

<p><em>Join the <a href="https://discord.gg/fXPYyCSunN">discord server</a> now :D or <a href="https://a-ads.com?partner=2312977">Advertise with Anonymous Ads</a></em></p>
<iframe data-aa='2312977' src='//ad.a-ads.com/2312977?size=728x90' style='width:728px; height:90px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>
</body>
</html>
