---
title: How to get a free vps?!
layout: base
---
Hello everyone.
In this post, I will explain how you can get a free vps.

<h2>Requirements</h2>
- Internet
- A pc/laptop
- A discord account

<h2>VPS Specs</h2>
Your vps will have:
- 4 GB ram
- 4 GB disk
- 1 vCPU
- 10 IPv4 ports (NAT)

<h2>Getting your free vps</h2>
Getting a free is easy and only takes around 5 minutes.
First, join the <a href="https://discord.gg/fXPYyCSunN">discord server</a>.

Once you joined it, head to the #cmds channel.
There, type /create and hit enter.

After a few minutes, the bot will send you a private message containing the details of your free vps.

To connect to your vps, you could follow one of our tutorials:
<ul>
{%- for post in collections.sshconnect -%}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>
