---
title: How to get a free vps?!
layout: base
---
Hello everyone.
In this post, I will explain how you can get a free vps.

<h2>Requirements</h2>
<ul>
  <li>Internet<li>
  <li>A pc/laptop</ul>
  <li>A discord account</ul>
</ul>

<h2>VPS Specs</h2>
Your vps will have:
<ul>
  <li>4 GB ram</li>
  <li>4 GB disk</li>
  <li>1 vCPU</li>
  <li>10 IPv4 ports (NAT)</li>
</ul>

<h2>Getting your free vps</h2>
Getting a free is easy and only takes around 5 minutes.<br />
First, join the <a href="https://discord.gg/fXPYyCSunN">discord server</a>.<br /><br />

Once you joined it, head to the #cmds channel.<br />
There, type /create and hit enter.<br /><br />

After a few minutes, the bot will send you a private message containing the details of your free vps.<br />

To connect to your vps, you could follow one of our tutorials:
<ul>
{%- for post in collections.sshconnect -%}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>
