---
title: [TUTORIAL] Connecting to your free vps from a linux terminal
layout: base
tags: sshconnect
---
Hello.
In this tutorial I will explain how you can connect to your free vps via ssh on a linux desktop.
If you don't have a free vps, you can get one by following our [tutorial](/free-vps).
